RewriteEngine On

ErrorDocument 404 /shop2408/404.html
ErrorDocument 403 /shop2408/404.html

# block user access public/source/index.html
RewriteRule ^/?public\/source\/index\.html$ - [F,L]
RewriteRule ^/?test.txt$ - [F,L]


RewriteRule ^trang-chu$ index.php
RewriteRule ^gio-hang$ shopping-cart.php
RewriteRule ^dat-hang$ checkout.php


RewriteRule ^([0-9]+)-([0-9a-z-\(\),]+).html$ detail-product.php?id=$1&url=$2

RewriteRule ^([a-z0-9-]+)$ type-product.php?url=$1
RewriteRule ^([a-z0-9-]+)/page/([0-9]*)$ type-product.php?url=$1&page=$2

#detail-product.php?id=7&url=iphone-7-plus-32gb
# RewriteRule ^([0-9a-z-]+)([0-9a-z-]*).html$ detail-product.php?url=$1&id=$2
#iphone-x-256-2.html